---
layout: default
title: "Portfolio"
permalink: /portfolio/
---

<section class="archive-portfolio-list container">

  <div class="wrap flex flex-wrap">

  {% for page in site.pages %}
    {% if page.page-type contains 'portfolio' %}

    <div class="col-1 centered">
      <a href="{{site.baseurl}}{{page.permalink}}">
        <img class="img-thumbnail full-img" src="{{site.imgurl}}{{page.banner}}" alt="">
        <h3 id="portfolio-title" class="box-fade centered full-width padding-small">{{page.title}}</h3>
        <h4 id="portfolio-genre" class="centered full-width">{{page.genre}}</h4>
      </a>
    </div>

    {% endif %}
  {% endfor %}
  </div>

</section>
<script src="/plugins/jqueryPaginate.js" charset="utf-8"></script>
