<!-- facebook Open Graph Metadatas -->
<meta property="fb:app_id" content="{{ site.facebook_app_id }}" />
<meta property="og:locale" content="en_US">
<meta property="og:type" content="article">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:image" content="{% if page.banner %}{{site.imgurl}}{{ page.banner}}{% else %}{{site.imgurl}}/the-geek-wing-logo.png{% endif %}">
