<footer>
  <div class="wrap flex">

    <div class="col col-1">
      <h4 class="uppercase">Recent posts</h4>

      <ul>
      {% for post in site.posts limit:6 %}
        {% assign post = site.posts.first %}
        <li>
          <a class="txtdeco-none whiteCol" href="{{site.baseurl}}{{page.url}}">
            {{ post.title }}
          </a>
        </li>
      {% endfor %}
      </ul>

    </div>

    <div class="col col-1">
      <h4 class="uppercase">Get in touch</h4>

      <div class="social-media-icons">
        <a href="https://www.facebook.com/thegeekwing/" target="_blank">
          <img src="{{site.baseurl}}/assets/social-media/facebook.png" />
        </a>
        <a href="https://twitter.com/wing_phy" target="_blank">
          <img src="{{site.baseurl}}/assets/social-media/twitter.png" />
        </a>
        <a href="https://www.linkedin.com/in/puahhuiying/" target="_blank">
          <img src="{{site.baseurl}}/assets/social-media/linkedin.png" />
        </a>
      </div>

    </div>

    <div class="col col-1">

      <h4 class="uppercase">Join the geek movement</h4>
        {% include mailchimp.html %}
    </div>

  </div>
</footer>
