<footer class="ofhidden">
  <div class="row p-3 py-sm-5 px-sm-4">

    <div class="col-xs-12 col-sm-5">
      <h4 class="uppercase whiteCol">Recent posts</h4>

      <ul>
      {% for post in site.posts limit:6 %}
        {% assign post = site.posts.first %}
        <li>
          <a class="txtdeco-none whiteCol" href="{{site.baseurl}}{{post.url}}">
            {{ post.title }}
          </a>
        </li>
      {% endfor %}
      </ul>

    </div>

    <div class="col-xs-12 col-sm-4 py-3 py-sm-0">

      <h4 class="uppercase whiteCol">Get in touch</h4>

      <div class="social-media-icons">
        <a href="https://www.facebook.com/thegeekwing/" target="_blank">
          <img src="{{site.imgurl}}/social-media/facebook.png" />
        </a>
        <a href="https://twitter.com/wing_phy" target="_blank">
          <img src="{{site.imgurl}}/social-media/twitter.png" />
        </a>
        <a href="https://www.linkedin.com/in/puahhuiying/" target="_blank">
          <img src="{{site.imgurl}}/social-media/linkedin.png" />
        </a>
      </div>

    </div>

    <div class="col-xs-12 col-sm-3">

      <h4 class="uppercase whiteCol">Join the geek movement</h4>
        {% include mailchimp.html %}
    </div>

  </div>
</footer>
