<div class="color--white p-3 p-sm-6 pb-sm-7 center-xs footer-content">
  <h2 class="text--heavy color--white">Contact</h2>
  <p>
    <form action="https://formspree.io/puahhuiying@gmail.com"
      method="POST" class="form-fs row between-sm">
      <input type="text" name="name" placeholder="Your name">
      <input type="email" name="_replyto" placeholder="Your email">
      <textarea rows="3" name="message" placeholder="Your message"></textarea>
      <input type="submit" value="Send">
    </form>
  </p>
</div>
