<div class="row between-sm px-3 py-5 px-sm-4">

  <div class="col-xs-12 col-sm-6 pb-5 start-xs">
    <h3 class="uppercase color--white">Recent posts</h3>

    <ul>
    {% for post in site.posts limit:6 %}
      {% assign post = site.posts.first %}
      <li class="py-2 py-sm-0">
        <a class="txtdeco-none color--white" href="{{site.baseurl}}{{post.url}}">
          {{ post.title }}
        </a>
      </li>
    {% endfor %}
    </ul>

  </div>


  <div class="col-xs-12 col-sm-5 start-xs end-sm">
    <div class="pb-5">
      <h3 class="uppercase color--white">Get in touch</h3>

      <div id="social">
        <a href="https://www.facebook.com/thegeekwing/" target="_blank">
          <img src="{{site.imgurl}}/social-media/facebook.png" />
        </a>
        <a href="https://twitter.com/wing_phy" target="_blank">
          <img src="{{site.imgurl}}/social-media/twitter.png" />
        </a>
        <a href="https://www.linkedin.com/in/puahhuiying/" target="_blank">
          <img src="{{site.imgurl}}/social-media/linkedin.png" />
        </a>
      </div>

      <div class="color--white">Email: puahhuiying@gmail.com<br/>
      Contact: +65 96679731</div>
    </div>

    <div class="pb-sm-4">
      <h3 class="uppercase color--white">Join the geek movement</h3>
      {% include mailchimp.html %}
    </div>
  </div>

</div>
