<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Wing" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>The Geek Wing</title>
  {% include facebook-meta.html %}
  {% include twitter-cards.html %}
  {% if page.date %}
    <meta property="article:published_time" content="{{ page.date }}" >
    <meta content="{{ site.url }}/about-wing/" property="article:author">
  {% endif %}
  {% if page.categories %}
    {% for category in page.categories limit:1 %}
    <meta content="{{ category }}" property="article:section">
    {% endfor %}
  {% endif %}
  {% if page.tags %}
    {% for tag in page.tags %}
    <meta content="{{ tag }}" property="article:tag">
    {% endfor %}
  {% endif %}
  <link rel="icon" type="image/x-icon" href="/favicon.png"/>
  <link rel="stylesheet" href="{{site.baseurl}}/flexboxgrid.min.css">
  <link rel="stylesheet" href="{{site.baseurl}}/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <script src="{{site.baseurl}}/plugins/scrollreveal.min.js" charset="utf-8"></script>
  {% include google-analytics.html %}
</head>
