<div class="social-wrapper block centered">

  <div class="social-media-icons">

    <div class="fb-share-button" data-href="{{site.url}}{{page.url}}" data-layout="box_count" data-size="small" data-mobile-iframe="true">
      <a class="fb-xfbml-parse-ignore" target="_blank" href="{{page.url}}">Share</a>
    </div>

    <div class="twitter-button">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{site.url}}{{page.url}}" data-via="wing_phy" data-size="small" data-lang="en">Tweet</a>
    </div>

    <div class="gplus-button">
      <div class="g-plusone" data-size="tall" data-href="{{site.url}}{{page.url}}"></div>
    </div>

    <div class="linkedin-button">
      <script type="IN/Share" data-url="{{site.url}}{{page.url}}" data-counter="top"></script>
    </div>

  </div>
</div><!-- .social-media-icons -->


<div id="fb-root"></div>
<script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script>(function(){var po=document.createElement('script');po.type='text/javascript';po.async=true;po.src='//apis.google.com/js/platform.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(po,s);})();</script>
<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
