<!-- Twitter cards metadatas -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@wing_phy">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:url" content="{% if page.url %}{{ site.url }}{{ page.url }}{% else %}{{ site.url }}{% endif %}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:image" content="{% if page.banner %}{{ site.imgurl }}{{ page.banner }}{% else %}{{site.imgurl}}/the-geek-wing-logo.png{% endif %}">
