.wrap {
  width: 95%;
  margin: auto;
  @include notmobile {
    width: 90%;
  }
}

.pos--rel {position: relative;}

.ofhidden {
  overflow: hidden;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.block {
  display: block;
}

.inlineblock {
  display: inline-block;
}

.container {
  display: block;
  width: 100%;
  padding: 40px 0;
}

.bg-pri {
  background-color: $primaryCol;
}

.bg-sec{
  background-color: $secondaryCol;
  color: black;
}

.bg-grey {
  background-color: $greyBg;
}

.bg-white {
  background-color: white;
}


.color--primary { color: $primaryCol; }
a.color--primary:hover { color: $secondaryCol; }

.color--secondary { color: $secondaryCol; }

.color--black { color:black; }
a.color--black:hover, a .color--black:hover { color: darken($primaryCol, 10%); }

.color--white { color: white; }
a.color--white:hover, a .color--white:hover { color: lighten( $greyFont, 20% ); }

a.whiteCol:hover {
  color: lighten( $greyFont, 20% );
}

.greyCol {
  color: $grey;
}

.greyFont {
  color: $greyFont
}

a.greyFont:hover { color: $primaryCol; }

.bold {
  font-weight: bold;
}

.btn {
  padding: 20px;
  background-color: $btn-priCol;
  color: white;
  border: 2px solid $btn-priCol;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: darken( $btn-priCol, 20% );
  }
}

.btn-border {
  border: 3px solid $secondaryCol;
}

.btn-clear {
  background-color: transparent;
}

.rdCorner {
  border-radius: 5px;
}

.round {
  border-radius: 100%;
}

.sm-round {
  @include notmobile {
    border-radius: 100%;
  }
}

.sm-square {
  @include notmobile {
    border: 0;
  }
}

.img-thumbnail {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.img--contain {object-fit: contain;}

.img--overlay {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include linear-gradient(45deg, #89253e, #3a6186);
    @include opacity(0.7);
  }
}

.img--blog {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.img-medium {
  height: 200px;
  width: 200px;
  object-fit: contain;
}

.box-fade {
  background-color: rgba(white, 0.9);
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.sm-full-height {
  @include notmobile {
    height: 100%;
  }
}

.full-img {
  object-fit: cover;
}

.full-page {
  width: 100vw;
  height: 100vh;
  z-index: -5;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}

.hide {@include opacity(0);}

.d-none {display: none;}

.xs-d-none {
  @include mobile {
    display: none;
  }
}
.sm-d-none {
  @include notmobile {
    display: none;
  }
}

.pagination-button {
  @include mobile {
    padding: 10px;
    margin: 5px;
  }
  padding: 20px;
  margin: 10px;

  &:hover {
    background-color: darken($greyBg, 10%);
    color: $primaryCol;
    cursor: pointer;
  }

  &.active {
    background-color: $btn-priCol;
  }

}

.video-wrapper {
  position: relative;
  height: 150px;
  overflow: hidden;
  border: 5px solid $grey;
  @include notmobile {
    height: 300px;
  }

  iframe {
    position: absolute;
    top: -25%;
    left: -25%;
    width: 150%;
    height: 150%;
  }
}

.bounce {
  position: absolute;
  @include animation(bounce 2s infinite);
}

@include keyframes(bounce) {
	0%, 20%, 50%, 80%, 100% {
    @include transform(translateX(0));
  }
	40% {
    @include transform(translateX(15px));
  }
	60% {
    @include transform(translateX(5px));
  }
}

a:hover .bounce {
  -webkit-animation: 0;
  animation: 0;
  @include transform(translateX(15px));
}

.text-align-left {text-align: left;}
.text--small { font-size: 14px; font-size: 1.4rem; }
.text--heavy {font-weight: 700;}
.text--top {z-index: 5;}
