.wrap {
  width: 95%;
  margin: auto;
  @include notmobile {
    width: 90%;
  }
}

.ofhidden {
  overflow: hidden;
}

.padding-small {
  padding: 30px 0;
  margin: auto;
}

.padding-small-box {
  padding: 30px;
  margin: auto;
}

.padding-big {
  @include mobile {
    padding: 10px 0;
  }
  padding: 80px 0;
}

.padding-big-box {
  @include mobile {
    padding: 10px;
  }
  padding: 80px 30px;
}

.margin-top {
  margin-top: 50px;
}

.margin-box {
  margin: 40px 0;
}

.uppercase {
  text-transform: uppercase;
}

.flex {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.flex-col {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.flex-wrap {
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  flex-wrap: wrap;
}

.block {
  display: block;
}

.inlineblock {
  display: inline-block;
}

.container {
  display: block;
  width: 100%;
  padding: 40px 0;
}

.padded-container {
  display: block;
  width: 100%;
  padding: 40px 20px;
}

.col {
  margin: 10px;
}

.col-1,
.row-1 {
  flex: 1;
}

.col-2,
.row-2 {
  flex: 2;
}

.col-3,
.row-3 {
  flex: 3;
}

.col-4,
.row-4 {
  flex: 4;
}

.col-5,
.row-5 {
  flex: 5;
}

.col-6,
.row-6 {
  flex: 6;
}

.bg-pri {
  background-color: $primaryCol;
}

.bg-sec{
  background-color: $secondaryCol;
  color: black;
}

.bg-grey {
  background-color: $greyBg;
}

.bg-white {
  background-color: white;
}

.priCol {
  color: $primaryCol;
}

.secCol {
  color: $secondaryCol;
}

.whiteCol {
  color: white;
}

a.whiteCol:hover {
  color: lighten( $greyFont, 20% );
}

.greyCol {
  color: $grey;
}

.greyFont {
  color: $greyFont
}

a.greyFont:hover { color: $primaryCol; }

.centered {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.vert-centered {
  align-items: center;
}

.bold {
  font-weight: bold;
}

.btn {
  padding: 20px;
  background-color: $btn-priCol;
  color: white;
  border: 2px solid $btn-priCol;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: darken( $btn-priCol, 20% );
  }
}

.btn-border {
  border: 3px solid $secondaryCol;
}

.btn-clear {
  background-color: transparent;
}

.rdCorner {
  border-radius: 5px;
}

.round {
  border-radius: 100%;
}

.img-thumbnail {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.img-medium {
  height: 200px;
  width: 200px;
  object-fit: contain;
}

.box-fade {
  background-color: rgba(white, 0.8);
}

.full-width {
  width: 100%;
}

.full-img {
  object-fit: cover;
}

.full-page {
  width: 100vw;
  height: 100vh;
  z-index: -5;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}

.hide {@include opacity(0);}

.twenty {
  width: 20%;
}

.pagination-button {
  padding: 20px;
  margin: 10px;

  &:hover {
    background-color: darken($greyBg, 10%);
    color: $primaryCol;
    cursor: pointer;
  }

  &.active {
    background-color: $btn-priCol;
  }

}
