.wrap {
  width: 95%;
  margin: auto;
  @include notmobile {
    width: 90%;
  }
}

.ofhidden {
  overflow: hidden;
}

.uppercase {
  text-transform: uppercase;
}

.flex {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.sm-flex {
  @include notmobile {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  }
}

.flex-col {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.block {
  display: block;
}

.inlineblock {
  display: inline-block;
}

.container {
  display: block;
  width: 100%;
  padding: 40px 0;
}

.bg-pri {
  background-color: $primaryCol;
}

.bg-sec{
  background-color: $secondaryCol;
  color: black;
}

.bg-grey {
  background-color: $greyBg;
}

.bg-white {
  background-color: white;
}

.priCol {
  color: $primaryCol;
}

.secCol {
  color: $secondaryCol;
}

.whiteCol {
  color: white;
}

a.whiteCol:hover {
  color: lighten( $greyFont, 20% );
}

.greyCol {
  color: $grey;
}

.greyFont {
  color: $greyFont
}

a.greyFont:hover { color: $primaryCol; }

.centered {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.align-center {
  justify-content: center;
}

.vert-centered {
  align-items: center;
}

.vert-top {
  vertical-align: top;
}

.bold {
  font-weight: bold;
}

.btn {
  padding: 20px;
  background-color: $btn-priCol;
  color: white;
  border: 2px solid $btn-priCol;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: darken( $btn-priCol, 20% );
  }
}

.btn-border {
  border: 3px solid $secondaryCol;
}

.btn-clear {
  background-color: transparent;
}

.rdCorner {
  border-radius: 5px;
}

.round {
  border-radius: 100%;
}

.sm-round {
  @include notmobile {
    border-radius: 100%;
  }
}

.img-thumbnail {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.img-medium {
  height: 200px;
  width: 200px;
  object-fit: contain;
}

.box-fade {
  background-color: rgba(white, 0.8);
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.sm-full-height {
  @include notmobile {
    height: 100%;
  }
}

.full-img {
  object-fit: cover;
}

.full-page {
  width: 100vw;
  height: 100vh;
  z-index: -5;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}

.hide {@include opacity(0);}

.sm-d-none {
  @include notmobile {
    display: none;
  }
}

.twenty {
  width: 20%;
}

.fifty {
  width: 100%;
  @include notmobile {
    width: 50%;
  }
}

.pagination-button {
  @include mobile {
    padding: 10px;
    margin: 5px;
  }
  padding: 20px;
  margin: 10px;

  &:hover {
    background-color: darken($greyBg, 10%);
    color: $primaryCol;
    cursor: pointer;
  }

  &.active {
    background-color: $btn-priCol;
  }

}

.video-wrapper {
  position: relative;
  height: 150px;
  overflow: hidden;
  border: 5px solid $grey;
  @include notmobile {
    height: 300px;
  }

  iframe {
    position: absolute;
    top: -25%;
    left: -25%;
    width: 150%;
    height: 150%;
  }
}

.bounce {
  position: absolute;
  @include animation(bounce 2s infinite);
}

@include keyframes(bounce) {
	0%, 20%, 50%, 80%, 100% {
    @include transform(translateX(0));
  }
	40% {
    @include transform(translateX(15px));
  }
	60% {
    @include transform(translateX(5px));
  }
}

a:hover .bounce {
  -webkit-animation: 0;
  animation: 0;
  @include transform(translateX(15px));
}

.text-align-left {text-align: left;}
