.reveal-container {
  @include mobile {
    display: none;
  }
  overflow: hidden;
  position: relative;
  height: 70px;
}

.vert-carousel {

  position: absolute;
  overflow: hidden;
  background-color: #fc0;
  line-height: 40px;
  width: 400px;

  li {
    font: 200 30px $font-thin;
    line-height: 30px;
    padding: 20px 15px;
    position: relative;
  }
}
