.homepage .btn {
  @include notmobile {
    width: 350px;
  }
}

// #portrait {
//   @include mobile {display: none;}
//   @include notmobile {
//     height: 85vh;
//     width: 100%;
//   }
// }
//
// .portrait-content {
//   @include notmobile { position: absolute; }
//   top: 0;
// }

#home1 {
  @include mobile {
    &:before {@include linear-gradient(45deg, #D0A98F, #6D2E46);}
    height: auto;
    background-color: #fff;
  }

  height: 85vh;
  overflow: hidden;
  position: relative;
  background: url('https://res.cloudinary.com/thegeekwing/image/upload/v1543651670/home/wing_home_cover.jpg') center/cover no-repeat;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include linear-gradient(45deg, #89253e, #3a6186);
    @include opacity(0.7);
  }

  h1 {
    color: #ffffff;
  }
}

.video-container {
  position: absolute;
  left: 0;
  height: 90vh;
  overflow: hidden;
  top: 0;
}


#tg-row {
  @include notmobile {
    height: 300px;
  }

  @include notmobile {
    div[id^="tg"] {
      @include transition( all 0.3s );

      &:hover {
        border-radius: 0;

        .sm-d-none {
          display: block;
        }
      }
    }
  }

}

#tg-1 {
  background: url('https://res.cloudinary.com/thegeekwing/image/upload/home/blockchain.jpg') 0 0/cover;
}

#tg-2 {
  background: url('https://res.cloudinary.com/thegeekwing/image/upload/home/technology.jpg') center/cover;
}

#work-row {

  @include linear-gradient(0deg, #abbaab, #fff);

  .col-xs-12  {
    position: relative;
    height: 200px;
    @include notmobile {
      height: 450px;

      &:hover {
        img {
          @include filter(grayscale, 80%);
          @include transform( scale(1.2, 1.2) );
        }
        p { @include transform( translate(20px) ); }
      }

      img, p {
        @include transition(all 0.2s);
      }
    }
  }

  .content--portfolio{
    @include linear-gradient(0deg, #232526, rgba(#fff, 0));
    position: absolute;
    bottom: 0;

    p {
      font-family: "Exo", sans-serif;
      font-weight: 700;
    }
  }
}

.tech-item {
  @include box-shadow(0, 10px, 20px, -5px, rgba(0, 0, 0, 0.3));
  @include notmobile {border-radius: 30%;}
}

.tech-item-inner {
  background: white;

  img {
    @include radial-gradient(#fff, #eff2f3);
    height: 120px;
    padding: 20px 5px;
  }
}

.home__blog {
  background: #f2f2f2;

  @include notmobile {
    .color--primary, img { @include transition(all 0.2s); }
    li:hover {
      .color--primary { color: lighten($secondaryCol, 10%); }
      img { @include filter(grayscale, 90%); }
    }
  }
}
