.homepage .btn {
  @include notmobile {
    width: 350px;
  }
}

#home1 {
  @include mobile {
    @include linear-gradient(45deg, #D0A98F, #6D2E46);
    height: auto;
    background-color: #fff;
  }

  height: 90vh;
  overflow: hidden;

  h1 {
    color: #ffffff;
    font-family: $homeheading;
    font-weight: 300;
  }

  .home-video {
    @include mobile { display: none; };
    position: relative;
    top: -10%;
    left: -5%;
    object-fit: cover;
    width: 110vw;
    z-index: -5;
    overflow: hidden;
    height: 100vh;

    iframe {
      height: 150%;
      width: 100%;
    }
  }
}

.video-container {
  position: absolute;
  left: 0;
  height: 90vh;
  overflow: hidden;
  top: 0;
}


#tg-row {
  @include notmobile {
    height: 300px;
  }

  @include notmobile {
    div[id^="tg"] {
      @include transition( all 0.3s );

      &:hover {
        border-radius: 0;

        .sm-d-none {
          display: block;
        }
      }
    }
  }

}

#tg-1 {
  background: url('https://res.cloudinary.com/thegeekwing/image/upload/home/girl.jpg') 0 0/cover;
}

#tg-2 {
  background: url('https://res.cloudinary.com/thegeekwing/image/upload/home/technology.jpg') center/cover;
}

#tg-3 {
  background: url('https://res.cloudinary.com/thegeekwing/image/upload/home/event.jpg') 0 100%/cover;
}

#dt-steps p {
  border: 3px double $btn-priCol;

  &:hover {
    background-color: #67597A;
    color: #F2E7C9;
  }
}

#dt-p {
  background: url('https://res.cloudinary.com/thegeekwing/image/upload/home/leadership_background.jpg') center/cover;
}

#home4 {

  .col-sm-3  {
    position: relative;
    @include notmobile {
      height: 250px;

      &:hover {
        img {
          @include filter(grayscale, 80%);
          @include transform( scale(1.2, 1.2) );
        }
        h3 { display: block;}
      }

      img {
        @include transition(all 0.2s);
      }
    }
    h3 {
      position: absolute;
      bottom: 0;
    }
  }
}
