
.skewed--top,
.skewed--top-r {
  @include mobile { padding:100px 0; }
  position: relative;
  padding:150px 0;
  margin-top: -50px;
  margin-bottom: 100px;
}

.skewed--top__content,
.skewed--top-r__content {
  @include mobile {padding: 20px;}
  @include notmobile {
    padding: 0 15%;
    width: 100%;
  }
}

.skewed--top,
.skewed--top-r__content,
.skewed--bottom,
.skewed--bottom-r__content { @include transform(skewY(-6deg)); }

.skewed--top-r,
.skewed--top__content,
.skewed--bottom-r,
.skewed--bottom__content { @include transform(skewY(6deg)); }

.skewed--bottom,
.skewed--bottom-r {
  @include mobile { padding: 100px 0; }
  position: relative;
  padding:150px 0;
  margin-top: -100px;
  margin-bottom: 50px;
}

.skewed--bottom__content,
.skewed--bottom-r__content {
  @include mobile {padding: 20px;}
  @include notmobile {
    padding: 0 15%;
    width: 100%;
  }
}

.skewed__first {
  padding-top: 250px;
  @include notmobile {height: 120vh;}
}
