---
layout: default
---

<section class="archive-post-list archive px-2 py-3 px-sm-4 py-sm-6">
  <div id="cat-list" class="p-2 mb-2">
    <a class="text--heavy p-2" href="{{site.baseurl}}/blog">
      All
    </a>
    {% for category in site.categories %}
      {% if category contains page.tag %}
        {% assign class = ' active' %}
      {% else %}
        {% assign class = '' %}
      {% endif %}
      <a class="text--heavy {{class}} mx-1 mx-sm-3 p-2" href="{{site.baseurl}}/category/{{ category | first }}/">
        {{ category | first }}
      </a>
    {% endfor %}
  </div>

  <div class="cat-page">
    <div id="post-list">
      {% for post in site.categories[page.tag] %}
        {% include archive-post-loop.html %}
      {% endfor %}
    </div>
  </div>

</section>
<script src="/plugins/jqueryPaginate.js" charset="utf-8"></script>
