<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="{{site.baseurl}}/style.css">
</head>
<body>
  {% include header.html %}
  {% include navbar.html %}
  <section class="site-container">
    {{content}}
  </section>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/plugins/jqueryPaginate.js" charset="utf-8"></script>

  {% include footer.html %}

</body>
</html>
