{% include head.html %}
<body>
  {% include navbar.html %}
  <section class="homepage site-container">
    <div class="flex vert-centered" id="home1">
      {% include home/row1.html %}
    </div>
    <div id="home2" class="padding-big">
      {% include home/row2.html %}
    </div>
    <div id="home3" class="padding-big">
      {% include home/row3.html %}
    </div>
    <div id="home4">
      {% include home/row4.html %}
    </div>
    <div id="home5" class="padding-big">
      {% include home/row5.html %}
    </div>
  </section>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{{site.baseurl}}/plugins/base.js" charset="utf-8"></script>
  <script src="{{site.baseurl}}/plugins/vertCarousel.js" charset="utf-8"></script>

</body>
