{% include head.html %}
<body>
  {% include navbar.html %}

  <section class="homepage site-container ofhidden">
    <div id="home1">
      {% include home/row1.html %}
    </div>
    <div id="home2" class="px-3 py-6">
      {% include home/row2.html %}
    </div>
    <div id="home3">
      {% include home/row3.html %}
    </div>
    <div id="home4" class="px-3 py-6">
      {% include home/row4.html %}
    </div>
    <div id="home5" class="py-6 px-3 home__blog">
      {% include home/row5.html %}
    </div>
  </section>

  <footer>
    {% include footer.html %}
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{{site.baseurl}}/plugins/base.js" charset="utf-8"></script>
  <script src="{{site.baseurl}}/plugins/scrollreveal.min.js" charset="utf-8"></script>
  <script src="{{site.baseurl}}/plugins/homeAnimation.js" charset="utf-8"></script>

</body>
