{% include head.html %}
<body>
  {% include navbar.html %}
  <section class="site-container">
    {{content}}
  </section>

  {% if page.url contains 'about-wing' %}
    <footer id="site-footer" class="about-footer">
      {% include footer-about.html %}
    </footer>
  {% elsif page.layout != 'portfolio' %}
    <footer id="site-footer">
      {% include footer.html %}
    </footer>
  {% endif %}

  <script src="{{site.baseurl}}/plugins/base.js" charset="utf-8"></script>
  <script src="{{site.baseurl}}/plugins/loading.js" charset="utf-8"></script>
</body>
</html>
