---
layout: default
---
<div class="preloader loading" id="loader">
  <span class="slice"></span>
  <span class="slice"></span>
  <span class="slice"></span>
  <span class="slice"></span>
  <span class="slice"></span>
  <span class="slice"></span>
</div>

<div style="background:{{page.background}}" id="loader-content" class="d-none pb-6">

  <div class="project-header row middle-xs center-xs">
    <div class="prj-header-img">
      <img src="{{site.imgurl}}{{page.banner}}" alt="" class="full-width full-img">
    </div>
    <div class="header-info">
      <h1 class="entry-title mb-0 text--heavy color--white">
        {{page.title}}
      </h1>
      <h2 class="color--white">{{page.genre}}</h2>
      <p class="color--white">{{page.info}}</p>
    </div>
  </div>

  <div class="entry-content wrap">
    <div class="mb-4 mb-sm-7 ptf-img">
      <img src="{{site.imgurl}}/{{page.img1}}" alt="">
    </div>
    <div class="mb-7 ptf-img">
      <img src="{{site.imgurl}}/{{page.img2}}" alt="">
    </div>

    {% if page.img3 %}
    <div class="mb-7 ptf-img">
      <img src="{{site.imgurl}}/{{page.img3}}" alt="">
    </div>
    {% endif %}

    {% if page.img4 %}
    <div class="mb-7 ptf-img">
      <img src="{{site.imgurl}}/{{page.img4}}" alt="">
    </div>
    {% endif %}

    {% if page.img5 %}
    <div class="mb-7 ptf-img">
      <img src="{{site.imgurl}}/{{page.img5}}" alt="">
    </div>
    {% endif %}
  </div>
</div>
