---
layout: defaultWOHeader
---

<div class="project-header">

  <img src="{{page.banner}}" alt="" class="full-width full-img">
  <h1 class="entry-title centered">
    {{page.title}}
  </h1>

  <div class="wrap bg-white centered padding-small">

    <div class="inlineblock col">
      <span class="greyFont col">Date</span>
      {{page.date}}
    </div>

    <div class="inlineblock col">
      <span class="greyFont col">Genre</span>
      {{page.genre}}
    </div>

  </div>
</div>

<div class="entry-content wrap">

  <div class="project-info wrap flex">

    <div class="col col-1">
      <span class="greyFont block">Project</span>
      {{page.project}}
    </div>

    <div class="col col-1">
      <span class="greyFont block">Deliverables</span>
      {{page.deliverables}}
    </div>
  </div>

  <div class="project-info padding-big centered">
    <h2>{{page.info}}</h2>
  </div>

  <div class="container">
    video here with some description
    {{page.mddscrpt}}
  </div>

  <div class="padding-big flex">

    <div class="col-1 col bg-pri padding-small centered flex">
      <div class="wrap centered">
        {{page.pointer1}}
      </div>
    </div>
    <div class="col-1 col bg-grey padding-small centered flex">
      <div class="wrap centered">
        {{page.pointer2}}
      </div>
    </div>
    <div class="col-1 col bg-sec whiteCol padding-small flex">
      <div class="wrap centered">
        {{page.pointer3}}
      </div>
    </div>

  </div>

</div>
