---
layout: default
---

<section class="archive-post-list archive px-2 py-3 py-sm-6">

  <div class="wrap">
    <div class="row around-xs" id="cat-list">

    {% for category in site.categories %}
      <a class="col-xs-12 col-sm m-1 p-2 center-xs bg-grey rdCorner" href="{{site.baseurl}}/category/{{ category | first }}/">
        <h3 class="mb-0">{{ category | first }}</h3>
      </a>
    {% endfor %}
      <a class="col-xs-12 col-sm m-1 p-2 center-xs bg-grey rdCorner active" href="{{site.baseurl}}/blog">
        <h3 class="mb-0">All</h3>
      </a>

    </div>


    {{content}}

  </div>

</section>
<script src="/plugins/jqueryPaginate.js" charset="utf-8"></script>
