---
layout: default
comments: true
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="post-header">
    <img class="full-img full-width" src="{{site.imgurl}}{{page.banner}}" alt="">
    
    <div class="center-xs box-fade full-width py-3 py-sm-4">
      <h1 class="post-title wrap" itemprop="name headline">
        {{ page.title | escape }}
      </h1>

      <p class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {% assign date_format = site.minima.date_format | default: "%-d %b %Y" %}
          {{ page.date | date: date_format }}
        </time><br/>
        <a class="txtdeco-none greyFont" href="{{site.baseurl}}/category/{{ page.categories }}">{{page.categories}}</a>
      </p>
    </div>
  </div>

  <div class="post-content wrap my-3 my-sm-5" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="entry-footer wrap">
    <div class="inline-share">
    Share this:
      <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">
        <img src="/img/twitter.svg" alt="">
      </a>
      <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
        <img src="/img/facebook.svg" alt="">
      </a>
      <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+">
        <img src="/img/google.svg" alt="">
      </a>
    </div>

    <div class="py-3 py-sm-5">
      <h4>Enjoy this post? Subscribe for more geekiness!</h4>
      {% include mailchimp.html %}
    </div>

    <div class="pb-3 pb-sm-5">
      {% include relatedposts.html %}
    </div>

    <div class="pb-3 pb-sm-5">
      {% include disqus.html %}
    </div>

  </div>

  {% include socialmediasharing.html %}

</article>
