<div class="wrap">

  <h1 class="my-3">Hello, I am Wing</h1>
  <div class="reveal-container">
    <ul class="vert-carousel">
      <li>Event coordinator</li>
      <li>Web developer</li>
      <li>Kids development coach</li>
      <li>Fitness enthusiast</li>
    </ul>
  </div>

</div>

<div class="video-container">
  <div class="home-video">
    <iframe  src="https://www.youtube.com/embed/4nXY_CUiMmI?autoplay=1&controls=0&loop=1&playlist=4nXY_CUiMmI&amp;showinfo=0" frameborder="0" allowfullscreen>
    </iframe>
  </div>
</div>
