<h1 class="centered priCol">Why work with me?</h1>
<div class="flex xs-flex-wrap" id="tg-row">

  <div class="col-1 sm-full-height flex centered sm-round ofhidden" id="tg-1">
    <div class="priCol box-fade full-width padding-small">
      <h2 class="mb-0">Kids & Youth</h2>
      <p class="sm-d-none mb-0 pl-10 pr-10">Fun activities that integrate holistic development for children of all ages</p>
    </div>
  </div>

  <div class="col-1 sm-full-height flex centered sm-round ofhidden" id="tg-2">
    <div class="priCol box-fade full-width padding-small">
      <h2 class="mb-0">Technology</h2>
      <p class="sm-d-none mb-0 pl-10 pr-10">Complete and affordable web solutions for your enterprise needs & target audience</p>
    </div>
  </div>

  <div class="col-1 sm-full-height flex centered sm-round ofhidden" id="tg-3">
    <div class="priCol box-fade full-width padding-small">
      <h2 class="mb-0">Event</h2>
      <p class="sm-d-none mb-0 pl-10 pr-10">Bespoke events to tailor to various budgets, occasion, target audiences and themes</p>
    </div>
  </div>

</div>
