<h1 class="center-xs mb-0 color--primary">Why work with me?</h1>
<div class="center-sm pt-3 pb-5 px-sm-7">
  <p>Some people find it hard to convey their idea to techies.</p>
  <p>And some techies find it hard to manage the expectations and deliverables for their clients.</p>
  <p>My past experience of being an educator, sports coach, fitness instructor, project coordinator and web developer makes me a perfect bridge to speak to people in the team in the language they are comfortable in. Most importantly, I'm here to ensure the quality and timeliness of your project and its' deliverables.</p>
</div>
