<div class="bg-sec padding-big">
  <div class="wrap whiteCol" id="w-story">
    <h2>Living life fully on the little red dot </h2>
    <p>At the age of twenty, I decide to set off into the world to explore the possibilities. My journey starts from being a junior show presentor in the zoo. Subsequently, I am being introduced into the world of dance, fitness and yoga. After the past years of exploration, I have found pieces of me. Things got better, I step into the world of children and teenage training. Then, I got involved in technology and events.</p>
    <p>Over and over, life has provided me with ample opportunities to fall in love with myself and life. Right now, I hope to optimally utilise my experience and skills of teaching, training, planning and web development to help people explore their potential.</p>
    <p>In a nutshell, my mission in life?</p>
    <p><strong>To positively impact and develop our next generation.</strong></p>
    <a class="btn centered" href="{{site.baseurl}}/about-wing/">
      About wing
    </a>
  </div>
</div>
