<h1 class="priCol centered">The design thinking approach</h1>
  <div class="flex">

    <div class="centered col-1 padding-small-box" id="dt-steps">
      <p>Empathize</p> &#10507;
      <p>Define</p> &#10507;
      <p>Ideate</p>&#10507;
      <p>Prototype</p> &#10507;
      <p>Test</p>
    </div>

    <div class="col-2 flex flex-col align-center" id="dt-p">
      <div class="box-fade padding-small-box m-20">
        <p>Design thinking is a proven strategy to solve complex problems and find desirable solutions for the clients. The process involves interviewing, creating user profiles, looking at other existing solutions and creating prototypes. At the heart of design thinking is the user: How do we improve the life of the users?</p>
        <p class="mb-0">The end result? Innovative and practical solutions crafted to solve your problems and meet your needs.</p>
      </div>
    </div>

  </div>
