<div class="bg-sec py-2 py-sm-5" id="work-row">
  <h2 class="center-xs"><a class="whiteCol" href="{{site.baseurl}}/portfolio">Featured work <span class="bounce pl-3">&rArr;</span></a></h2>
  <p class="center-xs p-5">From running my own startup to freelancing</p>
  <div class="row m-0">

    {% assign count = 0 %}
    {% assign sorted_pages = (site.pages |  where: "layout" , "portfolio" | sort: 'date'  | reverse ) %}
    {% for page in sorted_pages %}
      {% if count < 6 %}
        {% assign count = count | plus: 1 %}

        <div class="col-xs-12 col-sm-4 p-0 center-xs ofhidden">
          <a href="{{site.baseurl}}{{page.permalink}}">
            <img class="full-width full-height full-img" src="{{site.imgurl}}{{page.banner}}" alt="" />
            <h3 class="centered box-fade full-width mb-0 py-3 sm-d-none">{{page.title}}</h3>
          </a>
        </div>

      {% endif %}
    {% endfor %}
  </div>
</div>
