<div class="px-sm-5 center-xs">
  <h2>Process/ Technologies</h2>
  <p>Building accountability and confidence with implementation of each phase</p>
</div>

<div class="row center-xs py-3">

  {% for item in site.data.homelist.tech %}
  <div class="col-xs-12 col-sm-4">
    <div class="tech-item full-height">

      <div class="tech-item-inner full-height">
        <img src="{{site.imgurl}}{{item.image}}" class="full-width" alt="">
        <div class="p-3 py-sm-5">
          <h3 class="mb-2">{{ item.name }}</h3>
          <p class="mb-0">{{ item.description }}</p>
        </div>
      </div>

    </div>
  </div>
  {% endfor %}

</div>
