<div class="px-sm-5 center-xs">
  <h2 class="mb-sm-2">Process/ Technologies</h2>
  <p class="mb-0 mb-sm-2">Building accountability and confidence with implementation of each phase</p>
</div>

<div class="row center-xs py-3">

  {% for item in site.data.homelist.tech %}
  <div class="col-xs-12 col-sm-4 py-4 py-sm-0">
    <div class="tech-item full-height">

      <div class="tech-item-inner">
        <img src="{{site.imgurl}}{{item.image}}" class="img--contain full-width" alt="">
        <div class="p-3 py-sm-5 mb-4 mb-sm-0">
          <h3 class="mb-2">{{ item.name }}</h3>
          <p class="mb-0">{{ item.description }}</p>
        </div>
      </div>

    </div>
  </div>
  {% endfor %}

</div>
