<h2 class="center-xs">
  <a href="{{site.url}}/blog" class="priCol">Code. Educate. Empower. <span class="bounce pl-3 xs-d-none">&rArr;</span></a>
</h2>

<ul class="row center-xs post-list">
{% for post in site.posts limit:8 %}
  {% assign post = site.posts.first %}

  <li class="col-xs-12 col-sm-6 mb-3 px-3 appear">
    <a href="{{site.baseurl}}{{ post.url }}">
      <img class="img-thumbnail full-img" src="{{site.imgurl}}{{ post.banner }}" alt="" />
        <h4 class="start-xs color--primary pl-sm-3 my-3"><strong>{{ post.title }}</strong></h4>
        <p class="start-xs color--primary pl-sm-3">{{ post.description }}</p>
    </a>
  </li>

{% endfor %}
</ul>
