@import url('https://fonts.googleapis.com/css?family=Exo:300,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font:inherit;
  vertical-align:baseline;
  line-height: 140%;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
  display:block;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
}

em {font-style: italic;}

div {
  font-size: 16px;
  font-size: 1.6rem;
}

p {
  margin-bottom: 20px;
  font-size: 16px;
  font-size: 1.6rem;
}

.site-container,
footer {
  position: relative;

  @include notmobile {
    left: 60px;
    width: -webkit-calc(100% - 60px);
    width: -moz-calc(100% - 60px);
    width: calc(100% - 60px);
  }

}

.site-container::after {
  clear: both;
  content: " ";
  display: table;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

ol{ list-style-type:decimal; }

ul{ list-style:none; }

blockquote,q{
    quotes:none;
}

blockquote:before,blockquote:after,
q:before,q:after{
    content:’’;
    content:none;
}

h1,
h2,
h3,
h4 {
  @include mobile {line-height: 1.4;}
  font-family: 'Exo', sans-serif;
  margin-bottom: 20px;
  line-height: 140%;
  color: $primaryCol;
}

h1 {
  font-size: 30px;
  font-size: 3.0rem;
  @include notmobile {
    font-size: 40px;
    font-size: 4rem;
  }
}

h2 {
  font-size: 24px;
  font-size: 2.4rem;
  @include notmobile {
    font-size: 32px;
    font-size: 3.2rem;
  }

}

h3 {
	font-size: 20px;
	font-size: 2.0rem;
}

h4 {
	font-size: 16px;
	font-size: 1.6rem;
}

strong {
  font-weight: bold;
}

.banner {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
  text-decoration: none;
}

a {
  color: lighten( $greyFont, 10% );
  text-decoration: none;

  &:hover {
    color: lighten( $secondaryCol, 10% );
  }

}

blockquote {
  position: relative;
  padding: 10px;
  display: grid;
  padding: 20px 40px;
  margin: 20px;
  font-size: 20px;
  font-style: italic;
  background-color: $greyBg;

  &::before {
    content: '';
    border-left: 10px solid $secondaryCol;
    height: 100%;
    position: absolute;
  }
}
