@import url('https://fonts.googleapis.com/css?family=Jura:300,400,500|Tangerine');

header {

  h1.site-title {
  	font: 500 45px 'Jura', sans-serif;
    margin-bottom: 0;
    text-align: right;
    padding-right: 20px;
  }
  .site-description {
  	font: 35px 'Tangerine', cursive;
    text-align: right;
    padding-right: 20px;
  }

}

footer {
  clear: both;
  background-color: $footerBg;

  .wrap {
    width: 95%;
    padding: 20px 0;
  }

  .col {
    color: white;
  }

  h4 {
    color: white;
  }

  a.btn{
    color: white;
  }

  .social-media-icons {
    img:hover { @include opacity(0.7); }
  }

}
