header {

  img {
    height: 100px;
    display: block;
    margin-left: 10px;
    @include notmobile {
      margin: auto;
    }
  }
}

#ribbon img{
  @include mobile {
    height: 130px;
  }
}

footer {
  clear: both;
  background-color: $footerBg;

  .wrap {
    padding: 20px 0;
    width: 95%;
  }

  .col {
    @include mobile {
      width: inherit;
      flex: 0 0 auto;
    }
    color: white;
  }

  h4 {
    color: white;
  }

  a.btn{
    color: white;
  }

  .social-media-icons {
    img:hover { @include opacity(0.7); }
  }

}
