@import url('https://fonts.googleapis.com/css?family=Tangerine');

header {

  h1.site-title {
    margin-bottom: 0;
    text-align: right;
    padding-right: 20px;
  }
  .site-description {
  	font: 35px 'Tangerine', cursive;
    text-align: right;
    padding-right: 20px;
  }

}

footer {
  clear: both;
  background-color: $footerBg;

  .wrap {
    padding: 20px 0;
    width: 95%;
  }

  .col {
    @include mobile {
      width: inherit;
      flex: 0 0 auto;
    }
    color: white;
  }

  h4 {
    color: white;
  }

  a.btn{
    color: white;
  }

  .social-media-icons {
    img:hover { @include opacity(0.7); }
  }

}
