.hireme {
  z-index: 5;
  background: white;
  
  @include mobile {
    .reveal-container {
      display: none;
      height: 0;
    }
  }

  .content {position: relative;}

  .img-strip {
    @include opacity(0.2);
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    height: 100%;

    img {
      max-height: 170px;
    }
  }
}
