nav {
  position: fixed;
  height: 100vh;
  width: 60px;
  top: 0;
  z-index: 10;
  @include mobile {
    height: 60px;
    width: 100vw;
  }

  h2,
  a {
    font-family: "Exo", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: black;
  }

  .parent {
    display: table;
    text-align: center;
    background-color: white;
    border-right: 2px solid $greyBg;

    h2 {
      @include mobile {
        height: 60px;
        width: 100vw;
      }
      height: 100vh;
      width: 60px;
      display: table-cell;
      vertical-align: middle;
      padding: 10px;
    }

    &:hover > .sub-menu {
      @include mobile {
        display: block;
      }
      top: 0;
      left: 0;
    }

  }

  .sub-menu {
    @include transition( all 1s );
    position: absolute;
    @include mobile {
      top: 0;
      left: 0;
      width: 100vw;
      margin-top: 60px;
      background-color: rgba($primaryCol, 0.7);
      display: none;
    }

    @include notmobile {
      left: -340px;
      width: 300px;
      border-right: 2px solid $greyBg;
      height: 100vh;
    }

    .col {
      @include mobile {
        padding: 15px 10px;
      }
      margin: 0;
      @include notmobile {
        background-color: white;
      }
    }

    li {
      border-bottom: 1px solid #cccccc;
      width: 100%;

      &.active {
        background-color: darken($primaryCol, 20%);

        > a {
          color: lighten( $grey, 20% );
        }
      }

      &:hover {
        background-color: $grey;
        border: 3px solid $primaryCol;

        > a {
          color: $secondaryCol;
        }
      }

    }

    a {
      height: 100%;
      width: 100%;
      font-size: 16px;
      padding-left: 20px;
    }

  }
}
