nav {
  position: fixed;
  top: 0;
  z-index: 10;
  height: 100vh;
  width: 60px;

  h2,
  a {
    font-family: "Exo", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: black;
  }

  .parent {
    display: table;
    text-align: center;
    border-right: 2px solid $greyBg;

    h2 {
      height: 100vh;
      display: table-cell;
      vertical-align: middle;
      padding: 10px;
    }

    &:hover > .sub-menu {
      left: 0;
    }

  }

  .sub-menu {
    left: -9999px;
    position: absolute;
    height: 100vh;
    width: 300px;

    &:hover {
      left: 0;
    }

    .col {
      margin: 0;
      background-color: white;
    }

    li {
      border-bottom: 1px solid #cccccc;
      width: 100%;

      &.active {
        background-color: darken($primaryCol, 20%);

        > a {
          color: lighten( $grey, 20% );
        }
      }

      &:hover {
        background-color: $grey;
        border: 3px solid $primaryCol;

        > a {
          color: $secondaryCol;
        }
      }

    }

    a {
      height: 100%;
      width: 100%;
      font-size: 16px;
      padding-left: 20px;
    }

  }
}
