.project-header {
  position: relative;

  img {
    display: block;
    height: 70vh;
  }

  .header-info {
    width: 100%;
    border-bottom: 1px solid $grey;

    @include notmobile {
      position: absolute;
      bottom: 0;
      width: 80%;
      margin: 0 10%;
    }

  }

}

.project-info {

  .container {
    height: 300px;
    overflow: hidden;
  }
}

.archive-portfolio-list {

  a {
    text-decoration: none;
    color: black;

    &:hover {

      > img {
        @include opacity(0.2);
      }

      > #portfolio-title {
        font-size: 1.2rem;
      }

      > #portfolio-genre {
        @include transform( translateY(-50px) );
        @include opacity(1);
      }

    }

  }

  .col-1 {
    position: relative;
    height: 300px;
    width: 100%;
    @include notmobile {
      flex: 1 0 30%;
    }

    img {
      height: 300px;
    }

    #portfolio-title {
      @include transition( all 0.5s linear);
      position: absolute;
      bottom: 0;
      margin-bottom: 0;
    }

    #portfolio-genre {
      @include transition( all 1s linear);
      @include opacity(0);
      position: absolute;
      top: 60%;
    }

  }

}
