.project-header {
  position: relative;
  @include notmobile {height: 100vh;}

  .header-info {
    @include mobile {
      padding: 20px 0;
    }
    width: 95%;
    z-index: 2;

    @include notmobile {
      width: 80%;
    }

    h1 {
      font-family: 'Roboto', sans-serif;
      @include notmobile {
        font-size: 8.5rem;
        letter-spacing: 1.5rem;
      }
    }
  }
}

.prj-header-img {
  display: block;
  overflow: hidden;
  left: 0;
  @include notmobile {
    height: 100vh;
    position: absolute;
    top: -100%;
    width: 100%;
    @include animation(moveup 1s linear);
  }
}

@include keyframes(moveup){
  0% {top:0};
  100% {top: -100%};
}


.project-info {
  .container {
    height: 300px;
    overflow: hidden;
  }
}

.ptf-img {
  max-height: 1000px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.archive-portfolio-list {

  @include notmobile {
    h1, #portfolio-genre {color: white;}
    @include linear-gradient(165deg, #5D4157, #A8CABA);
  }

  a {
    text-decoration: none;
    color: black;

    @include notmobile {
      &:hover {
        > img {
          @include filter(brightness, 0.5);
        }

        > #portfolio-title {
          font-size: 18px;
          font-size: 1.8rem;
        }

        > #portfolio-genre {
          @include transform( translateY(-30px) );
          @include opacity(1);
          color: white;
        }
      }
    }

  }

  .col-sm-4 {
    position: relative;

    img {
      height: 180px;
      @include notmobile {height: 250px;}
    }
  }

  @include notmobile {
    #portfolio-title {
      @include transition( all 0.3s linear);
      position: absolute;
      bottom: 0;
      margin-bottom: 0;
    }

    #portfolio-genre {
      @include transition( all 0.3s linear);
      @include opacity(0);
      position: absolute;
      top: 55%;
    }
  }

}
